    <div class="container">
        <div class="header">
            <img src="./assets/logo.png" class="logo">
        </div>
        <div class="content">
            <div class="text">
                <h1>One Photo, Many Memories, <br> <span>Try PIXy!</span></h1>
                <h2>“Use a picture.  It’s worth a thousand words.”  </h2>
                <button class="btn" routerLink="/signup">Get Started</button>
            </div>

            <img class="image" src="./assets/landingbg.jpg" alt="">
            
        
       </div>
   </div>

