<body>
    <div class="header">
      <h1>Image Library</h1>
    </div>
  
  
    <div class="container">
        <div *ngIf="images.length">
        <div class="box" *ngFor="let img of images">
          <div class=" img-wrapper">
            <img class="finalimg" [src]="img">         
          </div>
        </div>
        <div class="button-wrapper">
            <button class="btn">Submit</button>
          </div>
    </div>
      <div  *ngIf="images.length == 0 ">
        <h1>There are no images into your library.</h1>
      </div>
    </div>
  </body>
  