<body>
  <div class="container">
    <!-- <h2><span>Editing Tab</span></h2>
    <hr> -->
    <div class="dropdown">
      <button class="dropdown-toggle" (click)="toggleDropdown()">
        Select Count
      </button>
      <div class="dropdown-content" *ngIf="showDropdown">
        <!-- <a (click)="count(2)">2 Image Layout</a> -->
        <a (click)="count(4)">4 Image Layout</a>
        <a (click)="count(9)">9 Image Layout</a>
        <a (click)="count(16)">16 Image Layout</a>
        <!-- <a (click)="count(2)">16 Image Layout</a> -->
      </div>

      <div class="smallcontainerdrop">
        <div *ngIf="layouts.length">
          <div class="box" *ngFor="let layout of layouts">
            <img class="uploadimg" [src]="layout" />
          </div>
        </div>
        <div *ngIf="!layouts.length">
          <h2>No layout seletced.</h2>
        </div>
      </div>
    </div>

    <button
      class="upload-btn"
      (click)="addImages()"
      [disabled]="!layouts.length"
    >
      Add Images
    </button>
    <div class="smallcontainer">
      <div *ngIf="images.length">
        <div class="box" *ngFor="let img of images">
          <img
            class="uploadimg"
            src="http://localhost:3000/public/images/{{ img }}"
          />
        </div>
      </div>
      <div *ngIf="!images.length">
        <h3>No image selected</h3>
      </div>
    </div>

    <div class="label-dropdown">
      <!-- <label class="label">Border:</label> -->
      <div class="border-slider">
        <label class="border-slider-label">Border:</label>
        <input
          type="range"
          min="10"
          max="50"
          value="0"
          class="border-slider-input"
          #borderSlider
        />
      </div>

      <!-- <label class="label">Color:</label> -->
      <div class="color-dropdown">
        <label class="color-dropdown-label">Colour:</label>
        <div class="color-dropdown-squares">
          <input
            class="color-input"
            [style.background]="color"
            [colorPicker]="color"
            (colorPickerChange)="onColorChange($event)"
            #colorPicker
          />
        </div>
      </div>
    </div>
    <br />
    <mat-error *ngIf="msg">{{ msg }}</mat-error>
    <button class="create-btn" (click)="createCollage()">Create Collage</button>
    <button class="reset-btn">Reset</button>
  </div>

  <!-- Main Canvas -->

  <div class="main-canvas">
    <div class="sub-canvas">
      <img
        *ngIf="!collage"
        class="sub-canvas-img"
        src="./assets/nocollage.png"
      />

      <!-- Collage making -->
      <div *ngIf="collage" #elementToConvert>
        <table
          [style.border-collapse]="'separate'"
          [style.border-spacing.px]="border"
          [style.backgroundColor]="color"
          style="border-radius: 15px; width: 350px; height: 350px"      
        >
          <tr *ngFor="let row of rows">
            <td
              *ngFor="let cell of row"
              [style.width.px]="350 / rows.length"
              [style.height.px]="350 / rows.length"
            >
              <img
                [src]="cell.src"
                style="
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 15px;
                "
              />
            </td>
          </tr>
        </table>
      </div>
    </div>
    <button class="btn save-btn" (click)="saveProject()">Save</button>
    <!-- <button class="btn send-btn" (click)="sendMail()">Send</button> -->
    <button class="btn download-btn" (click)="downloadImage()">Download</button>
  </div>

  <div class="side-container">
    <h1>Community</h1>
    <hr />
    <div *ngFor="let user of users">
      <label class="checkbox-container">
        <input type="checkbox" />
        {{ user.name }}
        <span class="checkmark"></span>
      </label>
    </div>
    <button class="btn send-btn-side">Send</button>
  </div>
</body>
