<!-- Image Upload Section -->
<div class="imgupload">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Upload Image </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="image-upload">
      <ng-container *ngIf="!selectedFiles.length">
        <ngx-dropzone
          class="mx-1"
          (change)="onSelect($event)"
          (remove)="onRemove($event)"
        >
          <ngx-dropzone-label>
            Drag & Drop files here<br />
            <span style="font-size: 12px">or</span><br />
            <button class="btn2">Browse Files</button>
          </ngx-dropzone-label>
        </ngx-dropzone>
      </ng-container>

      <ng-container *ngIf="selectedFiles.length">
        <div class="selected-images-container">
          <div class="selected-image" *ngFor="let file of selectedFiles">
            <img [src]="file.url" width="80px" height="80px">
            <div class="remove-image-btn" (click)="removeSelectedFile(file)">
              <mat-icon>clear</mat-icon>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="row pl-1 m-1 text-center">
        <div class="col-md-12 text-center">
          <button
            mat-raised-button
            id="upload-button"
            class="btn"
            (click)="uploadFiles()"
          >
            Upload Images
          </button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</div>

<!-- <div class="img-grid">
    <div class="img-item" *ngFor="let f of files">
      <div class="img-preview" [style.background-image]="'url(' + f.dataURL + ')'"></div>
    </div>
  </div> -->

<div class="img-container" *ngIf="uploadedImages.length">
  <div class="img-grid">
    <div class="img-item" *ngFor="let image of uploadedImages">
      <img
        class="img-preview"
        src="http://localhost:3000/public/images/{{ image }}"
      /><br>
      <button class="btn delete-btn" (click)="deleteUploadedImage(image)">Delete</button>
    </div>
  </div>
</div>

<div class="img-container" *ngIf="uploadedImages.length == 0 ">
  <h1>There are no images in library.</h1>
</div>
