<body>
  <div class="header">
    <h1>My Project</h1>
    <span class="icon">&#x1F43E;</span>
  </div>


  <div class="container">
    <div *ngIf="projects.length > 0">
      <div class="box" *ngFor="let img of projects">
        <div class=" img-wrapper">
          <img class="finalimg" src="http://localhost:3000/public/projects/{{ img }}">         
        </div>
        <div class="btn-wrapper">
          <button class="btn send-btn" >Send</button>
          <button class="btn delete-btn">Delete</button>
          <button class="btn download-btn" (click)="downloadImage()">Download</button>
      </div>
      </div>
    </div>

    <div  *ngIf="projects.length == 0 ">
      <h1>There are no images into your Project library.</h1>
    </div>
  </div>
</body>
